{%extends 'base.html'%}
{%block main_container%}
{% for art in article_list%}
{% include "article_snippet.html" %}
{%endfor%}
{%endblock%}
{%block sidebar%}
<div class="card">
    <div class="card-body">
        введите id
        <input id="articleId"/>
        заголовок статьи
        <div id="articleTitle"></div>
        <h3>Поиск </h3>
        <form method="GET" action="/">
            {{form.as_table}}
            <button class="btn btn-primary"> поиск</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        {% for auth in author_list%}

        <div >
            <div>{{auth.username}}: {{auth.article__count}} статей</div>

        </div>
        {%endfor%}

    </div>
</div>
<script>
    function getArticle(){
        let artID = $('#articleId')[0].value
        let url = "/article/"+artID +'/json/'
        $.ajax(url).done(function(msg){
            console.log("ajax done")
            $("#articleTitle").html(msg.title)
        })
        console.log(artID)
    }
    $('#articleId').on('input',getArticle)
    </script>
{%endblock%}
