{%extends 'base.html'%}
{%block main_container%}
{% for art in article_list%}
{% include "article_snippet.html" %}
{%endfor%}
{%endblock%}
{%block sidebar%}
<div class="card">
    <div class="card-body">
        <h3>Поиск </h3>
        <form method="GET" action="/">
            {{form.as_table}}
            <button class="btn btn-primary"> поиск</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        {% for auth in author_list%}

        <div >
            <div>{{auth.username}}: {{auth.article__count}} статей</div>

        </div>
        {%endfor%}

    </div>
</div>
{%endblock%}
